venv311/
__pycache__/
.pytest_cache/
.mypy_cache/
.dvc/
.git/
.gitignore
*.pyc
*.pyo
*.pyd
*.log
screenshots/
screenshots_api/
screenshots_mlflow/
word2vec_cbow_tsne.png
word2vec_skipgram_tsne.png
polynomial_decision_boundaries.png
roc_curves_logistic_regression.png
